*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#111;

overflow-x:hidden;

font-family:"Space Grotesk",sans-serif;

color:white;

}

/* Animated background */

.background{

position:fixed;

width:100%;

height:100%;

background:

linear-gradient(

-45deg,

#ff595e,

#ffca3a,

#8ac926,

#1982c4,

#6a4c93,

#ff006e

);

background-size:600% 600%;

animation:gradientMove 18s ease infinite;

z-index:-10;

}

@keyframes gradientMove{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

header{

padding:50px;

display:flex;

justify-content:space-between;

align-items:center;

}

header h1{

font-family:"Press Start 2P";

font-size:50px;

line-height:70px;

text-shadow:5px 5px #000;

}

nav{

display:flex;

align-items:center;

gap:30px;

}

.hamburger{

font-size:34px;

background:none;

border:none;

color:white;

cursor:pointer;

}

nav ul{

display:flex;

gap:24px;

list-style:none;

font-weight:bold;

}

nav li{

cursor:pointer;

transition:.3s;

}

nav li:hover{

transform:translateY(-5px);

color:#fff700;

}

.hero{

height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.hero h2{

font-family:"Press Start 2P";

font-size:90px;

line-height:110px;

margin-bottom:40px;

text-shadow:8px 8px #000;

animation:bounce 2s infinite;

}

.hero p{

max-width:850px;

font-size:24px;

font-weight:600;

line-height:40px;

}

.shape{

position:fixed;

opacity:.20;

border-radius:25px;

animation:float 14s infinite alternate ease-in-out;

}

.one{

width:220px;

height:220px;

background:#00f5d4;

top:10%;

left:8%;

transform:rotate(30deg);

}

.two{

width:170px;

height:170px;

background:#ffbe0b;

bottom:10%;

left:15%;

border-radius:50%;

}

.three{

width:260px;

height:260px;

background:#fb5607;

right:12%;

top:20%;

clip-path:polygon(50% 0%,100% 50%,50% 100%,0 50%);

}

.four{

width:200px;

height:200px;

background:#8338ec;

right:5%;

bottom:10%;

transform:rotate(40deg);

}

@keyframes float{

from{

transform:translateY(0px) rotate(0deg);

}

to{

transform:translateY(-70px) rotate(25deg);

}

}

@keyframes bounce{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

}
